@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-page {
    @apply bg-cover bg-center bg-fixed relative;
    background-image: url('./images/Homepage.jpg');
  }
  .bg-page::before {
    content: '';
    @apply absolute inset-0;
    background-color: rgba(165, 200, 158, 0.3); /* lowered opacity */
  }
  .page-content {
    @apply relative z-10;
  }
}